@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
}

h4 {
  color: var(--very-dark-desaturated-blue);
  font-weight: 700;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100vw;
  height: 700px;
  background-color: var(--dark-cyan);
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.wrapper::before {
  content: '';
  background: linear-gradient(55deg, var(--dark-cyan), var(--dark-cyan), rgba(240, 240, 240, .2));
  height: 800px;
  width: 800px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-100%, -60%);
  z-index: -1;
}

.wrapper::after {
  content: '';
  background: linear-gradient(-55deg, var(--dark-cyan), var(--dark-cyan), rgba(240, 240, 240, .3));
  height: 800px;
  width: 800px;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, -30%);
  z-index: -1;
}

.card {
  width: 330px;
  height: 390px;
  margin: auto;
  margin-top: 5em;
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 32px 64px var(--dark-grayish-blue);
  z-index: 10;
}

.card__bg-img {
  height: 150px;
  background: url('images/bg-pattern-card.svg');
}

.card__profile-picture {
  background: url('images/image-victor.jpg') no-repeat center center;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  top: -50px;
  border-radius: 50%;
  border: 5px solid white;
}

.card__description {
  margin-top: -50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.card__description > h4 > span {
  color: var(--dark-gray);
  font-weight: initial;
}

.card__description-city {
  font-size: .8rem;
}

.card__stats-box {
  border-top: 1px solid #eeeeee;
  padding: 1em;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card__stats {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.card__stats-name {
  font-size: .6rem;
  letter-spacing: 1.5px;
}

.attribution {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
